
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.AppBar {
  border-bottom: 1px solid darkgrey;
}

.ToolBar{
  flex-wrap: 'wrap';
}

.Desc{
  padding-bottom: 50px;
  padding-top: 50px;
}

.Button{
  font-size: 10px!important;
  border:1px solid cornflowerblue !important;
}

.Tittle{
  font-size: 20px;
}

.Typography{
  font-weight: 200!important;
  font-size: 50px!important;

}

.Grid{
  display: flex;
  align-items: baseline;
  place-content: center;
}

.Card{
  max-width: fit-content!important;
}


.CardHeader{
  background-color: #eeeeee;
}

.Link {
  margin: 8px 12px!important;
}

.ToolBar{
  flex-wrap: wrap !important;
}

.Logo{
  flex-grow: 1 !important;
}

.Form{
  display: flex;
  flex-direction: column;
  width: inherit;
}
.FormControl {
  margin-top: 20px;
  min-width: 120px;

}



